.landing-page-body{
  display:grid;
  grid-template-columns: 500px 800px;
  height:550px;
  margin-top:20px;	
}

.self-portrait{
  width:200px;
  height:280px;
  alt:"portrait of me in a forest wearing headphones and a face-mask";
  margin-left:140px;
}

.landing-page-body-left-section{
  margin-left:40px;
}

.landing-page-body-right-section{
  margin-left:100px;
  display:grid;
  grid-template-rows:270px 270px;
}

.about-me{
  font-weight:600;
  font-size:28px;
  text-align:center;
  background-color:#9803FC;
  padding:8px;
  color:gold;
  border-radius:20px;
  margin-bottom:10px
}

.about-me-content{
  font-size:20px;
  border:2px solid black;
  border-radius:20px;
  padding:8px;
}

.landing-page-body-right-section-half-header{
  font-weight:700;
  font-size:28px;
  background-color:#9803FC;
  color:gold;
  padding:8px;
  border-radius:20px;
  margin-bottom:10px;
}

.landing-page-body-right-section-half-content{
  font-size:20px;
  padding:8px;
  border:2px solid black;
  border-radius:20px;
  height:180px;
}