.links-and-socials-page{
  display:grid;
  grid-template-rows:100px 100px 100px 100px 100px 100px;
}

.links-and-socials-section{
  margin-left:400px;
  display:grid;
  grid-template-columns:100px 340px;
  align-items:center;
}

.links-and-socials-icon{
  width:90px;
}

.social-media-link{
  text-decoration:none;
  color:gold;
  background-color:#9803FC;
  font-weight:900;
  font-size:22px;
  margin-left:30px;
  padding:8px;
  border-radius:20px;
}