.personal-interests-page-body{
  display:grid;
  grid-template-rows:220px 220px 220px;
}

.personal-interests-page-section{
  display:grid;
  grid-template-columns:500px 1fr;
  height:200px;
  align-items:center;
}

.personal-interests-image{
  width:180px;
  margin-left:170px;
  border-radius:50px;
}

.personal-interests-page-section-content{
  border:2px solid black;
  height:150px;
  width:870px;
  border-radius:20px;
  padding:8px;
}

.personal-interests-page-section-header{
  font-weight:700;
  font-size:20px;
  display:block;
  text-align:center;
  background-color:#9803FC;
  width:150px;
  margin-left:312px;
  border-radius:20px;
  color:gold;
  padding:2px;
}

.personal-interests-page-section-body{
  font-size:20px;
}