.main-page-body{
  display:grid;
  grid-template-columns:450px 450px;
  height:550px;
  margin-bottom:1000px;
  justify-content:space-around;
}

.main-page-section-header{
  text-align:center;
  font-weight:900;
  font-size:26px;
  margin-top:20px;
  margin-bottom:12px;
}

.main-page-section-body{		
  border:1px solid black;
  border-radius:20px;
  padding:10px;
  font-weight:500;
  font-size:20px;
  height:450px;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
}